*
  box-sizing: border-box

body, input, textarea, button, select
  background: black
  color: white
  font-size: 1em

svg
  border: 2px gray solid
  margin: 2px
  width: 300px
  height: 300px

label
  margin-left: 0.5em
input[type="number"]
  width: 3em
